body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    color: orange;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #444;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(143, 198, 222);
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: orange;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input, select, textarea {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
